/* PageInfo.css */
.page-info {
  background-color: #424242; /* Цвет фона основного блока */
  padding: 2vw;
  color: #ffffff; /* Цвет текста */
  border-radius: 8px;
  margin: 2vw auto; /* Центрирование по горизонтали с отступами */
  width: 80%; /* Ширина основного блока */
  max-width: 100vw; /* Максимальная ширина */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
  position: relative; /* Относительное позиционирование */
}

.back-link {
  color: #ffffff;
  background-color: #2196F3; /* Цвет фона кнопки */
  text-decoration: none;
  position: absolute; /* Абсолютное позиционирование */
  top: 1vw; /* Отступ сверху */
  left: 1vw; /* Отступ слева */
  padding: 1vw 2vw;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.5vw; /* Адаптивный размер шрифта */
}

.course-info {
  background-color: #ffffff; /* Цвет фона карточки с информацией о курсе */
  padding: 5%; /* Адаптивные отступы */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
  margin-top: 5vw; /* Отступ сверху от кнопки "На главную" */
  text-align: center; /* Центрирование содержимого по горизонтали */
}

.course-info h4 {
  margin-top: 0; /* Убираем верхний отступ у заголовка */
  font-size: 2vw; /* Адаптивный размер шрифта */
}

.course-info p {
  font-size: 1.5vw; /* Адаптивный размер шрифта */
}

/* Фиксированная кнопка */
.fixed-button-2 {
  position: fixed;
  bottom: 2vw; /* Положение снизу */
  left: 50%;
  transform: translateX(-50%); /* Выравнивание по центру */
  background-color: #007bff;
  border: none;
  color: white;
  padding: 1.5vw 3vw; /* Адаптивные отступы */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw; /* Адаптивный размер шрифта */
  cursor: pointer;
  border-radius: 12px;
  z-index: 1000; /* Чтобы кнопка была выше других элементов */
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh; /* Отступ сверху от информации о курсе */
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
  .course-info h4 {
    font-size: 4vw; /* Увеличенный размер шрифта на маленьких экранах */
  }

  .course-info p {
    font-size: 3vw; /* Увеличенный размер шрифта на маленьких экранах */
  }

  .fixed-button-2 {
    font-size: 4vw; /* Увеличенный размер шрифта на маленьких экранах */
    padding: 2.5vw 5vw; /* Увеличенные отступы на маленьких экранах */
  }
}
