/* PageInfo.css */
.page-info {
  background-color: #ffffff; /* Цвет фона основной страницы */
  padding: 2vw;
  color: #000000; /* Черный цвет текста */
  max-width: 100vw; /* Максимальная ширина */
  
}

.back-link {
  color: #000000; /* Черный цвет текста */
  background-color: #c5e96e;
  border: none;
  text-decoration: none;
  padding: 1vw 2vw;
  border-radius: 5vh;
  font-size: 24pt;
  cursor: pointer;
  display: inline-block; /* Превращаем в блочный элемент */
  width: fit-content; /* Ширина кнопки будет зависеть от содержимого */
  margin: 0 auto; /* Автоматический отступ слева и справа для центрирования */
  transition: box-shadow 0.5s ease; /* Переход для тени */
}

.back-link:hover {
  box-shadow: 0 0.5vh 2vh 0 rgba(0, 0, 0, 0.7);
}

.course-info {
  text-align: left; /* Выравнивание текста по левому краю */
}

.course-info h1 {
  font-size: 50pt; /* Адаптивный размер шрифта */
  color: #000000;
  margin: 2vw 0; /* Отступы сверху и снизу */
}

.course-info p {
  font-size: 20pt; /* Адаптивный размер шрифта */
  margin: 1vw 0; /* Отступы сверху и снизу */
}

.price {
  font-size: 2vw; /* Размер шрифта для стоимости */
  font-weight: bold; /* Жирный шрифт */
}

.ikonka {
  width: 10vw; /* Ширина иконки */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 2vw; /* Отступ справа */
  margin-bottom: 10vh;
}

.platform-button {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #82b784;
  border: none;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  color: white;
  padding: 2vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24pt;
  cursor: pointer;
  border-radius: 6vh;
  z-index: 1000;
  transition: opacity 2s ease, font-size 0.3s ease, visibility 1s ease;
}

.video-container {
  display: flex;
  justify-content: center; /* Центрирование содержимого по горизонтали */
  margin-top: 2vh; /* Отступ сверху от информации о курсе */
}

.video-container iframe {
  width: 60%; /* Занимает всю доступную ширину контейнера */
  max-width: 100%; /* Максимальная ширина контейнера */
  height: 61vh; /* Задаем фиксированную высоту */
}

/* Медиазапросы для мобильных устройств */
@media screen and (max-width: 650px) {
  .back-link {
    padding: 1vw 2vw;
    border-radius: 2vh;
    font-size: 14pt;
  }
  .course-info {
    text-align: left; /* Выравнивание текста по левому краю */
  }
  
  .course-info h1 {
    padding-top: 3vh;
    font-size: 20pt; /* Адаптивный размер шрифта */
  }
  
  .course-info p {
    font-size: 12pt; /* Адаптивный размер шрифта */
    margin: 1vw 0; /* Отступы сверху и снизу */
  }
  
  .ikonka {
    width: 30vw; /* Ширина иконки */
    height: auto;
    margin-left: auto;
    margin-right: 10vw; /* Отступ справа */
    padding: 3vh 0;
    margin-bottom: 10vh;
  }

  .platform-button {
    align-items: center;
    justify-content: center;
    bottom: 3vh;
    font-size: 1.6em;
    background-color: #82b784;
    padding: 0; /* Убираем padding */
    width: 90vw;
    height: 8vh; /* Можете попробовать другие значения */
    line-height: 2.2; /* Устанавливаем line-height для лучшего выравнивания */
  }

  .video-container {
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    margin-top: 2vh; /* Отступ сверху от информации о курсе */
  }
  
  .video-container iframe {
    width: 90vw; /* Занимает всю доступную ширину контейнера */
    max-width: 100%; /* Максимальная ширина контейнера */
    height: 30vh; /* Задаем фиксированную высоту */
  }
}
