/* Главный раздел */
.main-section {
    background-image: url('../../assets/background-image.png');
    background-size: 100% 300%; /* или значение, подходящее для вашего случая */
    background-position: top center; /* Центрируйте фон по горизонтали и размещайте сверху по вертикали */
    background-repeat: no-repeat; /* Не повторять фон */
    height: 100vh; /* Высота секции, которую вы хотите показать */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    overflow: hidden;
    z-index: 1; /* Должен быть выше нового секции */
}

.main-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-section-darkness, rgba(0, 0, 0, 0)); /* Значение по умолчанию */
    z-index: 1; /* Должен быть выше содержимого */
}

.welcome-image {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw; /* Увеличиваем ширину логотипа до 20% от ширины контейнера */
    height: auto;
}

.afg {
    position: absolute;
    top: 59vh;
    width: 19vw;
    height: auto;
}

.main-header {
    font-size: 1.6vw;
    margin: 0;
}

/* Белый фон */
.new-section {
    background: white;
    border-radius: 25px 25px 0 0;
    padding: 5vh 4.9vw;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 90.1%;
    position: absolute;
    top: 100vh;
    left: 0;
    transition: top 0.05s ease-in-out;
    z-index: 2; /* Должен быть выше главного раздела */
}

.new-section.visible {
    top: 0;
    opacity: 1;
}

/* Стили для заголовков */
.new-section-header, .new-section-footer {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    text-align: left;
    margin-bottom: 2vh;
    font-size: 96pt;
    color: #000000;
}

.new-section-content {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fixed-button {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #82b784;
    border: none;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    color: white;
    padding: 2vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24pt;
    cursor: pointer;
    border-radius: 6vh;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, font-size 0.3s ease, visibility 1s ease;
}

.fixed-button.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.fixed-button:hover {
    box-shadow: 0 0.5vh 2vh 0 rgba(0, 0, 0, 0.7);
}
.entering {
    margin-top: 7vh;
}
/* Мобильные стили */
@media screen and (max-width: 650px) {
    .main-section {
        height: 100vh;
        padding: 2.5vh 1.67vw;
        background-size: 300% 300%; /* или значение, подходящее для вашего случая */
        background-position: 75% -20%;
    }

    .welcome-image {
        top: 30vh;
        width: 50vw;
        height: auto;
    }
    
    .afg {
        top: 55vh;
        width: 45vw;
        height: auto;
    }

    .new-section {
        width: 96%;
        padding: 2.5vh 1.67vw;
        padding-top: 7vh;
        padding-bottom: 7.5vh;
    }

    .new-section-header {
        font-size: 20pt;
        margin-bottom: 1vh;
    }
    .new-section-footer {
        font-size: 20pt;
    }

    .fixed-button {
        align-items: center;
        justify-content: center;
        bottom: 3vh;
        font-size: 1.6em;
        background-color: #82b784;
        padding: 0; /* Убираем padding */
        width: 90vw;
        height: 8vh; /* Можете попробовать другие значения */
        line-height: 2.2; /* Устанавливаем line-height для лучшего выравнивания */
    }
}
